#productpage {
                background-color:yellow;
                border:2px solid white;
                margin-left:auto;
                margin-right:auto;
}

h1 {
       text-align:center;
}

img {
       width:215px;
       height:200px;
}

